<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>societeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AC392F71C1CD3F200BDE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AC3930B1C1CD3F300BDE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AC393161C1CD3F300BDE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
